<!-- portfolio section-->
<section id="portfolio">  
  <style type="text/css">
    body {
      background: white !important;
    }

    /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
  </style>
  <div class="container mt-3">
    <h1 class="text-left">Portfolio</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident sequi reiciendis rem obcaecati dolore
      architecto distinctio nobis molestias praesentium perferendis?</p>
    <div class="row">
      <div class="col-lg-4 mt-4">
        <div class="card" style="width: 18rem;">
          <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
          <div class="card-body">

            <h3 class="text-primary">Project Name</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus possimus earum eligendi perspiciatis
              optio velit doloribus blanditiis hic animi! Accusamus sapiente obcaecati ipsa dolorum, tempore
              exercitationem expedita pariatur velit reiciendis.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mt-4">
        <div class="card" style="width: 18rem;">
          <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
          <div class="card-body">




            <h3 class="text-primary"> Project Name</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto eligendi fugiat sed voluptatum nihil
              assumenda quia tempore ex. Ducimus voluptatum molestias aspernatur maxime tempora, nemo eos odio a
              quibusdam incidunt.</p>


            
          </div>
        </div>
      </div>

      <div class="col-lg-4 mt-4">
        <div class="card" style="width: 18rem;">
          <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="text-primary"> Project Name</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat enim, iure ratione nihil molestias qui
              porro odit voluptatibus eligendi explicabo exercitationem quasi molestiae quisquam error ipsum recusandae
              architecto reprehenderit ut!</p>


            
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">





</section>